<div class="container">
    <div class="date-item">
        
        <div class="date__header">
            <i class="material-icons" (click)="minusMonth()">arrow_left</i>
            <div class="year">{{date | async | moment}}</div>
            <i class="material-icons" (click)="plusMonth()">arrow_right</i>
        </div>

        <div id="calendar">
            <table class="tbody">
                <thead>
                <tr class="months">
                    <th class="calendar__day">M</th>
                    <th class="calendar__day">T</th>
                    <th class="calendar__day">W</th>
                    <th class="calendar__day">T</th>
                    <th class="calendar__day">F</th>
                    <th class="calendar__day">S</th>
                    <th class="calendar__day">S</th>
                </tr>
                </thead>
                <tbody >
                    <tr class="trow" *ngFor="let week of calendar">
                        <td  class="tdata" (click)="select(day.value)" *ngFor="let day of week.days">
                            <a type="button" class="active calendar__number" (click)="changeModal(day)" [class.selected]="day.selected"  [class.active]="day.active">  {{day.value | date: 'd'}}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

  <!-- Modal -->
  <form class=" calendar-form" [formGroup]="calendarForm">
    <div [class.show]="modal" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <div class="task">
                    <div class="header_popup">
                        <h5 class="modal-title" id="exampleModalLongTitle">{{dataService.date | async | moment: 'DD-MMMM'}}</h5>
                        <button type="button" class="close" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <textarea  class="text-area form-control" formControlName="description" cols="10" rows="10" placeholder="Description"></textarea>
                    <span *ngIf="calendarForm.get('description').invalid && calendarForm.get('description').touched" class="error-text">Description can't be empty</span>

                    <input type="text" size="100 " formControlName="hours" class="form-control" placeholder="Hours">
                    <span *ngIf="calendarForm.get('hours').invalid && calendarForm.get('hours').touched" class="error-text">Enter a valid hours</span>

                </div>
            
            </div>

            <div class="modal-footer">
            <button type="button" class="btn btn-primary" [disabled]="calendarForm.invalid">Save changes</button>
            </div>
        </div>
        </div>
    </div>
</form>